* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Left out of Composer installs: apps get src, config, database, README, CHANGELOG and LICENSE
/.github export-ignore
/docs export-ignore
/tests export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/phpunit.xml export-ignore
/phpstan.neon.dist export-ignore
/pint.json export-ignore
